<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamento</title>
    <link rel="icon" href="/public/images/favicon.ico">
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>

    <header>
       <div class="logo-container">
                <a href="home.html"><img src="../public/images/logo.png" alt="Logo Barbearia" class="logo-img"></a>
                <h1 class="visual-hidden">Barbearia Etc</h1>
            </div>
        <nav>
            <ul>
                <li><a href="servicos.html">Serviços</a></li>
                
                <li><a href="agendamento.html" class="active">Agendamento</a></li>
                
                <li><a href="galeria.html">Galeria</a></li>
                <li><a href="contato.html">Contato</a></li>
                <li><a href="../index.html">Sair</a></li>
            </ul>
        </nav>
    </header>
    <main class="main-content">
        <div class="text-center ">
            <h2>Faça seu Agendamento</h2>
            <p>Preencha os campos abaixo para reservar seu horário.</p>
        </div>
        
        <form action="sucesso.html" method="GET" class="agendamento-form">
            
            <div class="input-group">
                <label for="nome">Nome Completo</label>
                <input type="text" id="nome" name="nome" required>
            </div>
            
            <div class="input-group">
                <label for="telefone">Telefone / WhatsApp</label>
                <input type="tel" id="telefone" name="telefone" required>
            </div>

            <div class="input-group">
                <label for="servico">Qual serviço?</label>
                <select id="servico" name="servico">
                    <option value="corte">Corte de Cabelo (R$ 40,00)</option>
                    <option value="barba">Barba Completa (R$ 35,00)</option>
                    <option value="combo">Combo (Cabelo + Barba) (R$ 70,00)</option>
                    <option value="pezinho">Pézinho (R$ 15,00)</option>
                </select>
            </div>

            <div class="input-group">
                <label for="data">Data</label>
                <input type="date" id="data" name="data" required>
            </div>

            <div class="input-group">
                <label for="hora">Hora</label>
                <input type="time" id="hora" name="hora" required>
            </div>

            <div class="input-group">
                <label for="obs">Observações (Opcional)</label>
                <textarea id="obs" name="obs"></textarea>
            </div>
            
            <button type="submit" class="btn-login">Confirmar Agendamento</button>
            
        </form>

    </main>


    <footer>
        <p>&copy; 2025 Barbearia Etc</p>
        <p>Siga-nos nas redes sociais!</p>
    </footer>
    </body>
</html>