<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" href="/public/images/favicon.ico">
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>

    <header>
        <div class="logo-container">
            <img src="../public/images/logo.png" alt="Logo Barbearia" class="logo-img">
            <h1 class="visual-hidden">Barbearia Etc</h1>
        </div>
        <nav>
            <ul> 
                <li><a href="servicos.html">Serviços</a></li>
                <li><a href="agendamento.html">Agendamento</a></li>
                <li><a href="galeria.html">Galeria</a></li>
                <li><a href="contato.html">Contato</a></li>
                <li><a href="../index.html">Sair</a></li>
            </ul>
        </nav>
    </header>
    
    <main class="main-content">
        <section class="welcome-banner">
            <h2>Bem-vindo à Barbearia Etc</h2>
            <p>O estilo que você procura, com a precisão que você merece.</p>
            <a href="agendamento.html" class="btn-cta">Agende seu Horário</a>
        </section>

        <section class="intro-text">
            <h3>Sobre Nós</h3>
            <p>Bem-vindo à Barbearia Etc! Somos um espaço dedicado ao homem moderno que valoriza a qualidade, o bom atendimento e um ambiente amigável. Nossos barbeiros experientes utilizam as melhores técnicas e produtos para garantir que você saia sempre satisfeito. Venha tomar um café conosco e renovar o visual.</p>
        </section>
    </main>


    <footer>
        <p>&copy; 2025 Barbearia Etc</p>
        <p>Siga-nos nas redes sociais!</p>
    </footer>
    
</body>
</html>