<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviços</title>
    <link rel="icon" href="/public/images/favicon.ico">
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>

    <header>
       <div class="logo-container">
                <a href="home.html"><img src="../public/images/logo.png" alt="Logo Barbearia" class="logo-img"></a>
                <h1 class="visual-hidden">Barbearia Etc</h1>
            </div>
        <nav>
            <ul>                
                <li><a href="servicos.html" class="active">Serviços</a></li>
                
                <li><a href="agendamento.html">Agendamento</a></li>
                <li><a href="galeria.html">Galeria</a></li>
                <li><a href="contato.html">Contato</a></li>
                <li><a href="../index.html">Sair</a></li>
            </ul>
        </nav>
    </header>
    <main class="main-content">
        <h2>Nossos Serviços</h2>
        <p>Confira o que oferecemos para você.</p>
        
        <div class="service-list">
            <div class="service-item">
                <h3>Corte de Cabelo</h3>
                <p>Estilo clássico ou moderno, tesoura ou máquina, você escolhe.</p>
                <div class="price">R$ 40,00</div>
            </div>
            
            <div class="service-item">
                <h3>Barba Completa (Navalha)</h3>
                <p>Design de barba, toalha quente e finalização com navalha.</p>
                <div class="price">R$ 35,00</div>
            </div>
            
            <div class="service-item">
                <h3>Combo (Cabelo + Barba)</h3>
                <p>O pacote completo para sair com o visual renovado.</p>
                <div class="price">R$ 70,00</div>
            </div>

            <div class="service-item">
                <h3>Pézinho (Acabamento)</h3>
                <p>Ajuste rápido do contorno do cabelo e barba.</p>
                <div class="price">R$ 15,00</div>
            </div>
        </div>

    </main>


    <footer>
        <p>&copy; 2025 Barbearia Etc</p>
        <p>Siga-nos nas redes sociais!</p>
    </footer>
    </body>
</html>