<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamento Confirmado!</title>
    <link rel="icon" href="/public/images/favicon.ico">
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>

    <header>
        <div class="logo-container">
                <a href="home.html"><img src="../public/images/logo.png" alt="Logo Barbearia" class="logo-img"></a>
            </div>
        <nav>
            <ul>
                <li><a href="servicos.html">Serviços</a></li>
                <li><a href="agendamento.html">Agendamento</a></li>
                <li><a href="galeria.html">Galeria</a></li>
                <li><a href="contato.html">Contato</a></li>
                <li><a href="../index.html">Sair</a></li>
            </ul>
        </nav>
    </header>
    
    <main class="main-content">
        <section class="intro-text" style="text-align: center;">
            <h2>Agendamento Solicitado!</h2>
            <p style="margin-bottom: 2rem;">Sua solicitação foi enviada com sucesso. Em breve, entraremos em contato para confirmar seu horário.</p>
            <a href="home.html" class="btn-cta">Voltar para o início</a>
        </section>
    </main>


    <footer>
        <p>&copy; 2025 Barbearia Etc</p>
        <p>Siga-nos nas redes sociais!</p>
    </footer>
    
</body>
</html>